# OSX-specific
android-vm/.vagrant
.DS_Store
.irb-history

# android builds and calabash output
test_servers
build
bundle
device_logs
logs
results/
*.html
*.json
*.log
*.png

# ide settings
.idea/
*.iml


